.offset-md-4.col-md-4
  .card.mb-5
    .card-body
      %h2.mb-5
        Mi cuenta #{resource_name.to_s.humanize}
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        .mb-3
          = f.input :email, required: true, autofocus: true
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .mb-3
          = f.label 'Contraseña', class: 'form-label-sm'
          = f.input :password, hint: "Dejar en blanco si no quieres cambiarla", required: false, input_html: { autocomplete: "new-password" }, label: false
        .mb-3
          = f.label 'Confirmar Contraseña', class: 'form-label-sm'
          = f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password" }, label: false
        .mb-3
          = f.label 'Contraseña Actual', class: 'form-label-sm'
          = f.input :current_password, hint: "Necesitas tu contraseña actual para guardar los cambios", required: true, input_html: { autocomplete: "current-password" }, label: false
        .form-actions.mb-3
          = f.button :submit, "Guardar", class: 'btn btn-info text-white'
    .card-footer
      %h3.text-left Eliminar mi cuenta
      %p.mb-3
      ¿Quiéres eliminar tu cuenta? #{link_to "Eliminar Cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro/a?" }, method: :delete, class: 'btn btn-danger'}
  = link_to "Volver", :back, class: 'btn btn-primary'
