.offset-md-4.col-md-4
  .card
    .card-body
      %h2.mb-5 Nueva Cuenta
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .mb-3
          = f.label 'Email', class: 'form-label-sm'
          = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, class: 'form-control', label:false
        .mb-3
          = f.label 'Contraseña', class: 'form-label-sm'
          = f.input :password, required: true, hint: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length), input_html: { autocomplete: "new-password" }, class: 'form-control', label: false
        .mb-3
          = f.label 'Confirmar Contraseña', class: 'form-label-sm'
          = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }, class: 'form-control', label: false
        .form-actions.mb-3
          = f.button :submit, "Crear Cuenta", class: 'btn btn-primary'
    .card-footer
      = render "devise/shared/links"
