= simple_form_for @pic, html: { multipart: true } do |f|
  -if @pic.errors.any?
    #errors
      %h2
        =  "#{pluralize(@pic.errors.count, 'error')} prevented this Pic from saving"
      %ul
        - @pic.errors.full_messages.each do |msg|
          %li
            = msg
  .mb-3
    = f.label 'Imagen', class: 'form-label-sm'
    = f.input :image, as: :file, input_html: { type: 'file', class: 'form-control' }, direct_upload: true, label: false
  .mb-3
    = f.label 'Título', class: 'form-label-sm'
    = f.input :title, input_html: { class: 'form-control' }, label: false
  .mb-3
    = f.label 'Descripción', class: 'form-label-sm'
    = f.input :description, input_html: { class: 'form-control', rows: '10' }, label: false
  .mb-3
    = f.button :submit, @pic.new_record? ? 'Crear Post' : 'Guardar Post', class: 'btn btn-info'