.row
  - @pics.each do |pic|
    .col-lg-3.col-md-4.col-sm-6
      .card.mb-4{'data-aos': 'fade-up', 'data-aos-offset': "-50", 'data-aos-delay': "50", 'data-aos-duration': "500", 'data-aos-easing': "ease-in", 'data-aos-mirror': "true", 'data-aos-once': "true", 'data-aos-anchor-placement': "top-center"}
        = link_to pic do
          - if pic.image.attached?
            .text-center
              = cl_image_tag pic.image.key, class: 'img-fluid card_img-top'
          .card-body
            .card-title
              %h2.text-left
                = pic.title
              %p.small #{ time_ago_in_words(pic.created_at).capitalize }

