.offset-xl-3.col-xl-6.offset-md-2.col-md-8
  .card
    - if @pic.image.attached?
      .text-center.mb-5
        = cl_image_tag @pic.image.key, class: 'img-fluid'

    .card-body
      .card-title.mb-5
        .container
          %h1.mb-5
            = @pic.title
          %p.text-justify
            = @pic.description

      .card-footer
        .row
          .col-md-6
            %p.text-bold.mb-0
              = @pic.user.email
          .col-md-6.flex-end
            = link_to like_pic_path(@pic), method: :put, class: 'btn btn-outline-primary vote-button' do
              %i.fa-regular.fa-thumbs-up
                = @pic.get_upvotes.size if  @pic.get_upvotes.size > 0
            - if user_signed_in? && @pic.user_id == current_user.id
              = link_to 'Editar', edit_pic_path, class: 'btn btn-info text-white edit-button'
              = link_to 'Borrar', pic_path, method: :delete, data: { confirm: '¿Quiéres borrar tu post?' }, class: 'btn btn-danger delete-button'