.offset-md-4.col-md-4
  .card
    .card-body
      %h2.mb-5 Log in
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .mb-3
          = f.label 'Contraseña', class: 'form-label-sm'
          = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }, class: 'form-control', label: false
        .mb-3
          = f.label 'Confirmar Contraseña', class: 'form-label-sm'
          = f.input :password, required: false, input_html: { autocomplete: "current-password" }, class: 'form-control', label: false
        .mb-3.d-flex
          = f.input :remember_me, label: false, class: 'form-control', as: :boolean if devise_mapping.rememberable?
          = f.label 'Recordarme', class: 'form-label-sm'
        .form-actions.mb-3
          = f.button :submit, "Entrar", class: 'btn btn-primary'
    .card-footer
      = render "devise/shared/links"
