body {
  background: #E9E9E9;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  color: #529ECC;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
}

nav {
  box-shadow: 0 1px 2px 0 rgba(82,158,204, 0.22);
  box-color: #529ECC;
  background: #529ECC;

  .navbar-brand {
    a {
      color: #529ECC;
      font-weight: bold;
      font-size: 1.6em;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#pics {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 7px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(82,158,204, 0.48);
    border-radius: 2px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    h2 {
      font-size: 10px;
      margin: 0;
      font-weight: bold;
      padding: 25px 10px;

      a {
        color: #529ECC;

      }
    }
  }
}

#edit_page {
  .current_image {
    img {
      display: block;
      margin: 20px 0;
    }
  }
}

#pic_show {
  .panel-heading {
    padding: 0;
  }
  .pic_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
      color: #529ECC;
      font-weight: bold;
    }
    .description {
      color: #253567;
      font-weight: bold;
      line-height: 1.75;
      margin: 0;
      text-align: center;
    }
  }
  .panel-footer {
    padding: 20px 25px;
    p {
      margin: 0;
    }
    .user {
      padding-top: 2px;
      font-weight: bold;
      text-align: center;

    }
  }
}

textarea {
  min-height: 250px;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: 600;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.card-footer {
  a {
    font-size: 14px;
  }
  .fa-thumbs-up::before {
    font-size: 16px;
  }
  .vote-button {
    border-radius: 5px 0 0 5px;
  }
  .edit-button {
    border-radius: 0;
  }
  .delete-button {
    border-radius: 0 5px 5px 0;
  }
}

.dropdown-toggle::after {
  display: none;
}

.user-menu {
  background-color: #000;
  border-radius: 25px;
  padding: 0px 5px;
  transition: .5s all ease;
  margin-left: 50px;
  .dropdown-menu[data-bs-popper] {
    left: unset;
    right: 0;
  }
}

@media(max-width: 991px) {
  .navbar {
    button:focus:not(:focus-visible) {
      outline: unset;
      box-shadow: unset;
    }
    .navbar-brand img {
      width: 150px;
    }
  }

  .navbar-toggler {
    border: unset;
    &-icon {
      display: flex;
      align-items: center;
    }
  }
  .user-menu.mobile {
    list-style: none;
    margin-bottom:  0;
    padding: 5px 10px;
    margin-left: 0;

    i {
      color: #fff;
    }
    .dropdown-menu[data-bs-popper] {
      left: unset;
      right: 0;
    }
  }
}