/ Button trigger modal
%button.btn.btn-primary{"data-bs-target" => "#exampleModal", "data-bs-toggle" => "modal", :type => "button"}
  Launch demo modal
/ Modal
#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Modal title
        %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", :type => "button"}
      .modal-body
        \...
      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes
%button.btn.btn-secondary{"data-bs-placement" => "top", "data-bs-toggle" => "tooltip", :title => "Tooltip on top", :type => "button"}
  Tooltip on top
%button.btn.btn-secondary{"data-bs-placement" => "right", "data-bs-toggle" => "tooltip", :title => "Tooltip on right", :type => "button"}
  Tooltip on right
%button.btn.btn-secondary{"data-bs-placement" => "bottom", "data-bs-toggle" => "tooltip", :title => "Tooltip on bottom", :type => "button"}
  Tooltip on bottom
%button.btn.btn-secondary{"data-bs-placement" => "left", "data-bs-toggle" => "tooltip", :title => "Tooltip on left", :type => "button"}
  Tooltip on left
%i.far.fa-address-book
%i.fab.fa-github
