!!! 5
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GolfoSanJorge
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'favicon-32x32.png', sizes: '32x32', type: 'img/png'
    = favicon_link_tag 'favicon-16x16.png', sizes: '16x16', type: 'img/png'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark
      .container
        .navbar-brand
          = link_to root_path, class: 'text-white text-decoration-none' do
            = image_tag('golfosanjorge.png', width: '200px')
        %ul.d-block.d-lg-none.user-menu.mobile
          - if user_signed_in?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{ href: '#', id: 'perfilDropDown', role: 'button', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', class: 'rounded-circle' }
                %i.fas.fa-user
              %ul.dropdown-menu{ 'aria-labelledby': 'perfilDropdown' }
                %li.nav-item
                  = link_to 'Nuevo Post', new_pic_path, class: 'dropdown-item'
                %li.nav-item
                  = link_to 'Perfil', edit_user_registration_path, class: 'dropdown-item'
                %li.nav-item
                  = link_to 'Salir', destroy_user_session_path, method: :delete, class: 'dropdown-item'
          - else
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{ href: '#', id: 'perfilDropDown', role: 'button', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', class: 'rounded-circle' }
                %i.fas.fa-user
              %ul.dropdown-menu{ 'aria-labelledby': 'perfilDropdown' }
                %li.nav-item
                  = link_to 'Registrarse', new_user_registration_path, class: 'dropdown-item'
                %li.nav-item
                  = link_to 'Entrar', new_user_session_path, class: 'dropdown-item'
        %button.navbar-toggler{ type: 'button', 'data-bs-toggle': 'collapse', 'data-bs-target': "#navbarSupportedContent", 'aria-controls': "navbarSupportedContent", 'aria-expanded': "false", 'aria-label': "Toggle navigation"}
          %span.navbar-toggler-icon
            %i.fas.fa-bars
        .collapse.navbar-collapse.justify-content-end{id: 'navbarSupportedContent'}
          %ul.navbar-nav
            %li.nav-item
              %a.nav-link{ href: '#' } Caleta Olivia
            %li.nav-item
              %a.nav-link{ href: '#' } Comodoro
            .d-none.d-lg-block.user-menu
              - if user_signed_in?
                %li.nav-item.dropdown
                  %a.nav-link.dropdown-toggle{ href: '#', id: 'perfilDropDown', role: 'button', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', class: 'rounded-circle' }
                    %i.fas.fa-user
                  %ul.dropdown-menu{ 'aria-labelledby': 'perfilDropdown' }
                    %li.nav-item
                      = link_to 'Nuevo Post', new_pic_path, class: 'dropdown-item'
                    %li.nav-item
                      = link_to 'Perfil', edit_user_registration_path, class: 'dropdown-item'
                    %li.nav-item
                      = link_to 'Salir', destroy_user_session_path, method: :delete, class: 'dropdown-item'

              - else
                %li.nav-item.dropdown
                  %a.nav-link.dropdown-toggle{ href: '#', id: 'perfilDropDown', role: 'button', 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', class: 'rounded-circle' }
                    %i.fas.fa-user
                  %ul.dropdown-menu{ 'aria-labelledby': 'perfilDropdown' }
                    %li.nav-item
                      = link_to 'Registrarse', new_user_registration_path, class: 'dropdown-item'
                    %li.nav-item
                      = link_to 'Entrar', new_user_session_path, class: 'dropdown-item'

    .container.mt-5
      - flash.each do |name, msg|
        = content_tag :div, msg, class: 'alert alert-info', role: 'alert'
      = yield

    %script{:charset => "utf-8", :type => "text/javascript"}
      $(document).ready(function(){
      console.log('jquery funciona');
      AOS.init();
      });
